*{
    margin: 0;
    padding: 0;
}
*,*::after,*::before{
    box-sizing: border-box;

}

img{
    vertical-align: middle;
}

ul,ol,li{
    list-style-type: none;
}

body{
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

.all__wrapper{
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-right: 15px;
}